@import '~antd/dist/antd.css';

.App {
  text-align: center;
  height: 100%;
}

#root .logo {
  width: 100%;
  height: unset;
  text-align: center;
  padding: 20px 0;
}
#root .logo img {
  position: static;
  width: 100px;
  height: 100px;
  background-color: #eee;
}